body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.container {
    width: 80%;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

header {
    background-color: #30E3CA;
    color: black;
    margin-bottom: 50px;
    min-height: 60px;
    width: 100%;
    position: fixed;
    z-index: 9;
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 50px;
}

header ul, footer ul{
    list-style-type: none;
}

header a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: blue;
    font-weight: bold;
}

footer{
    background: #180A0A;
    color: #30E3CA;
}

footer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #30E3CA;
}

.socials img{
    background-color: #30E3CA;
    border-radius: 50%;
    margin: 0 10px;
}

.home h1, .vets h1, .faq h1, .about h1{ 
    font-size: 35px;
    text-align: center;
    margin-bottom: 0;
}

.home h4, .vets p, .faq p, .about-p{
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.home img{
    margin-left: 100px;
}

/*************About us *********/

.founders div {
    width: 70%;
    background-color: #E4F9F5;
    padding: 20px;
}

.rupam, .akshit, .mohmika {
    float: left;
    margin-right: 75px;
    margin-bottom: 75px;
}

.arjun, .anshul, .dhananjay {
    float: right;
    margin-bottom: 75px;
}

.rupam h3,
.arjun h3, .akshit h3, .mohmika h3, .dhananjay h3 {
    margin: 0;
    padding: 0;
}

.founders img {
    border-radius: 100px;
}
